<div class="teste">
   <p>{{ tituloCorpo }}</p>
 
   <div>
      {{ 1 + 1 }}
   </div>

   <p>
      {{ a + b }}
   </p>
</div>

<!--

<input type="text" [value]="variavel1" />
-->


<!--
<button (click)="validaDados()">teste evento</button>
-->


<!--
<br/>
<input type="text" [(ngModel)]="nome" />

<p>
   {{ nome }}
</p>

<button (click)="motraValor()">mostrar o valor na classe</button>

-->

